// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-profile {
	.label {
		font-weight: 700;
		color: red;
	}
}
ul.navbar-nav {
	li.nav-item {
		&.active {
			background-color: #ddd;
			a {
				margin-left: 1.0rem;
				color: #101214;
			}
		}
	}
}
.navbar-nav {
  .nav-item{
    &.active {
      background-color: #ddd;
      a {
        margin-left: 1.0rem;
        color: #d00;
      }
    }
  }
}
