// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-profile {
	.label {
		font-weight: 700;
		color: red;
	}
}
ul.navbar-nav {
	li.nav-item {
		&.active {
			background-color: #ddd;
			a {
				margin-left: 1.0rem;
				color: #101214;
			}
		}
	}
}
.profile-img {
	img {
		height: 200px;
		width: 200px;
		border-radius: 50%;
	}
}
tr {
	&.vmiddle {
		td {
			vertical-align: middle;
			form {
				input {
					vertical-align: middle;
				}
			}
		}
	}
}
